<div class="container__info">
  <div>
  <span>Nombres del estudiante: </span>
  <label>{{ topicStudent.student?.firstName }} </label>
  <label> {{ topicStudent.student?.secondName }} </label>
  <label> {{ topicStudent.student?.lastName }} </label>
  <label> {{ topicStudent.student?.secondLastname }} </label>
</div>
  <span class="skip"></span>
  <div>
  <span>Cédula: </span>
  <label>{{ topicStudent.student?.ci }}</label>
</div>
</div>

<div class="container__info">
  <span>Tema: </span> <label>{{ topicStudent.topic?.name }}</label>
</div>

<div class="container__info">
  <span>Carrera: </span> <label>{{ topicStudent.topic?.career?.name }}</label>
  <span class="skip"></span>
  <span> Evaluación: </span> <label>{{ topicStudent.topicEvaluation }}</label>
  <span class="skip"></span>
  <span> Articulación: </span>
  <label>{{ topicStudent.topic?.articulation }}</label>
</div>

<div class="container__info">
  <span>Estado de tema: </span>
  <label>{{ topicStudent.topic?.topicStatus }} </label
  ><span class="skip"></span> <span>Pago: </span>

  <label> {{ topicStudent.paymentDenunciation }} </label
  ><span class="skip"></span> <span>Fecha: </span>

  <label> {{ topicStudent.assignedDate }} </label>
</div>

<div class="container__info">
  <span>Descripción del tema: </span>
  <label>{{ topicStudent.topic?.description }}</label>
</div>