<div class="container__button">
  <input
    matInput
    (keyup)="applyFilter($event)"
    type="text"
    placeholder="Buscar..."
  />
</div>
<div class="mat-elevation-z8 responsive">
  <table mat-table recycleRows [dataSource]="dataStudent">
    <ng-container matColumnDef="position">
      <th class="uno" mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let topic; let indice = index">
        {{ indice + 1 + paginator.pageIndex * paginator.pageSize }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cedula">
      <th class="uno" mat-header-cell *matHeaderCellDef>Cédula</th>
      <td
        class="pointer"
        mat-cell
        *matCellDef="let topicStudent"
        (click)="openDialogTopicStudentExecuting(topicStudent.id)"
        (click)="navigateToTopic(topicStudent)"
      >
        {{ topicStudent.student?.ci }}
      </td>
    </ng-container>

    <ng-container matColumnDef="carrera">
      <th class="uno" mat-header-cell *matHeaderCellDef>Carrera</th>
      <td mat-cell *matCellDef="let topicStudent">
        {{ topicStudent.topic?.career?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="evaluacion">
      <th class="cinco" mat-header-cell *matHeaderCellDef>
        Evaluación de tema
      </th>
      <td mat-cell *matCellDef="let topicStudent">
        {{ topicStudent.topicEvaluation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="articulacion">
      <th class="cinco" mat-header-cell *matHeaderCellDef>Articulación</th>
      <td mat-cell *matCellDef="let topicStudent">
        {{ topicStudent.topic?.articulation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th class="cinco" mat-header-cell *matHeaderCellDef>Estado de tema</th>
      <td mat-cell *matCellDef="let topicStudent">
        {{ topicStudent.topic?.topicStatus }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pago">
      <th class="cinco" mat-header-cell *matHeaderCellDef>Pago</th>
      <td mat-cell *matCellDef="let topicStudent">
        {{ topicStudent.paymentDenunciation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th class="cuatro" mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let topicStudent">
        {{ topicStudent.assignedDate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
