.container__topicBanck {
  width: 95%;
  margin-inline: auto;
  padding: 1.5rem 0;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}

input {
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 1px solid #c6cdde;
  font-size: 0.9rem;
  margin: 0.8rem 0;
}

table {
  width: 100%;
}
.btn{
  min-width: 120px;
}

td {
  text-align: center;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 1rem;
}
th.mat-header-cell {
  text-align: center;
}

.mat-header-cell {
  font-weight: bold;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 1rem;
}
@media screen and (max-width: 920px) {
  input {
    width: 100%;
    padding: 0.5rem 0;
  }
  .responsive {
    overflow-x: auto;
  }
  .uno {
    min-width: 90px;
  }
  .dos {
    min-width: 150px;
  }
  .tres {
    min-width: 230px;
  }
  .cuatro {
    min-width: 200px;
  }
  .cinco {
    min-width: 150px;
  }
}
