/* Banco de temas */
.container__topicBanck {
  width: 95%;
  margin-inline: auto;
  padding: 1.5rem 0;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.container__button {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.button__topicbanck {
  background: #002858;
  color: #fff;
}
input {
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 1px solid #c6cdde;
  font-size: 0.9rem;
}
/* Estilo Tablas */
table {
  width: 100%;
  border-radius: 1rem;
}

td {
  text-align: center;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 1rem;
}
th.mat-header-cell {
  text-align: center;
}
.mat-header-cell {
  font-weight: bold;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 1rem;
}
.Open__Dialog__Topic {
  cursor: pointer;
}
span {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.container__info {
  padding: 0.7rem 0;
}

@media screen and (max-width: 1211px) {
  .container__button {
    flex-direction: column;
    width: 100%;
  }
  input {
    width: 100%;
    padding: 0.5rem 0;
  }
  .button__topicbanck {
    margin-top: 1rem;
  }
  .responsive {
    overflow-x: auto;
  }
  .uno {
    min-width: 90px;
  }
  .dos {
    min-width: 10px;
  }
  .tres {
    min-width: 20px;
  }
  .cuatro {
    min-width: 190px;
  }
  .cinco {
    min-width: 180px;
  }
  .seis {
    min-width: 140px;
  }
}

@media screen and (max-width: 870px) {
  .container__info {
    padding: 0;
  }
  span {
    padding: 0.3rem 0;
  }
  .skip {
    display: block;
  }
}
