<div id="denunciation" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="container__form" ngClass.lt-sm="mat-card-lt-sm" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/unibe_form.png" alt="UNIBE" />
    <h2 class="form__title">DENUNCIA DE TEMA Y MODALIDAD DE INVESTIGACIÓN</h2>
    <form [formGroup]="denunciationForm">
      <div class="data-general">
        <h4>DATOS GENERALES:</h4>
        <p>
          <b>Apellidos:</b>
          {{ topicStudent.student?.lastName}} {{ topicStudent.student?.secondLastname }}
        </p>

        <p>
          <b>Nombres: </b>
          {{ topicStudent.student?.firstName }}
          {{ topicStudent.student?.secondName }}

        </p>

        <p>
          <b>Cédula de Identidad: </b>
          {{ topicStudent.student?.ci}}
        </p>

        <p>
          <b>Carrera: </b>
          {{ topicStudent.student?.career?.name }}
        </p>

        <p>
          <b>Semestre: </b>
          <mat-form-field appearance="fill">
            <mat-select required formControlName="semesterLevel" placeholder="Seleccione">
              <mat-option *ngFor="let level of semesterLevels | keyvalue" [value]="level.value">
                {{level.key}}</mat-option>
            </mat-select>
            <mat-error *ngIf="denunciationForm.get('semesterLevel')?.hasError('required')">Campo
              <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <b>Director (a) de carrera: </b>
          Traer dato de academicUser
        </p>

        <p>
          <b>Ciudad/Fecha: </b>
          <mat-form-field appearance="fill">
            <input matInput type="text" formControlName="ciudad" placeholder="Ingrese la ciudad" required />
            <mat-error *ngIf="denunciationForm.get('ciudad')?.hasError('required')">Campo
              <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>,
          {{day}} de {{month}} del {{year}}
        </p>

        <p>De mis consideraciones.</p>
        <p>
          Solicito la evaluación de la propuesta del Trabajo de Titulación o Trabajo
          de Integración Curricular para obtener el título de
          <b>{{ topicStudent.student?.career?.degree }}</b>.
        </p>
        <p>Los datos de la propuesta se especifican a continuación:</p>
        <h4>Tema:</h4>
        <p>{{ topicStudent.topic?.name }}</p>
      </div>
      <h4>Línea de investigación:</h4>
      <mat-form-field appearance="fill" class="investigationLine">
        <mat-select required formControlName="investigationLine" placeholder="Seleccione">
          <mat-option *ngFor="let line of investigationLine | keyvalue" [value]="line.value">
            {{line.key}}</mat-option>
        </mat-select>
        <mat-error *ngIf="denunciationForm.get('investigationLine')?.hasError('required')">Campo
          <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <h4>
        Título del proyecto de la universidad con el cual se articula el tema
        propuesto:
      </h4>
      <div class="form-field-max">
        <mat-form-field appearance="fill">
          <textarea matInput type="text" formControlName="articulationTopic"
            placeholder="Ingrese el nombre del proyecto de Articulación" required></textarea>
          <mat-error *ngIf="denunciationForm.get('articulationTopic')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <h4>Tipo de proyecto:</h4>
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar</mat-label>
        <mat-select required formControlName="projectType" placeholder="Seleccione">
          <mat-option *ngFor="let projectType of projectTypes | keyvalue" [value]="projectType.value">
            {{projectType.key}}</mat-option>
        </mat-select>
        <mat-error *ngIf="denunciationForm.get('projectType')?.hasError('required')">Campo
          <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>

      <h4>Modalidad de investigación:</h4>
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar</mat-label>
        <mat-select required formControlName="investigationModality" placeholder="Seleccione">
          <mat-option *ngFor="let modality of investigationModalitys | keyvalue" [value]="modality.value">
            {{modality.key}}</mat-option>
        </mat-select>
        <mat-error *ngIf="denunciationForm.get('investigationModality')?.hasError('required')">Campo
          <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>


      <div class="firma" fxLayout="row" fxLayoutAlign="center start" fxLayout.lt-sm="column"
        fxLayoutAlign.lt-sm="center center">
        <div fxFlex="100/3" fxLayout="column" fxLayoutAlign="center center" fxFlex.sm="100%">
          <h4>Solicitado por:</h4>
          <p>{{ topicStudent.student?.firstName }} {{topicStudent.student?.lastName }}</p>
        </div>
        <div fxFlex="100/3" fxLayout="column" fxLayoutAlign="center center" fxFlex.sm="100%">
          <h4>Recibido por:</h4>
          <p>Traer datos de director de carrera</p>
        </div>
        <div fxFlex="100/3" fxLayout="column" fxLayoutAlign="center center" fxFlex.sm="100%">
          <h4>Entregar a:</h4>
          <p>Secretaría de Administración y Registro</p>
        </div>
      </div>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
        <button type="submit" class="primary" mat-raised-button (click)="onCreateDenunciation()">
          Enviar
        </button>
        <button (click)="print('denunciation')">Imprimir</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
