<div class="container">
  <mat-card class="container__form" *ngFor="let denunciation of denunciations">
    <figure class="unibe__img">
      <img src="../../../assets/unibe_form.png" alt="UNIBE" />
    </figure>

    <div class="form__title">
      <h2>DENUNCIA DE TEMA Y MODALIDAD DE INVESTIGACIÓN</h2>
    </div>
    <div class="form__data">
      <h4>DATOS GENERALES:</h4>
    </div>
    <div class="container">
      <p class="container__data">
        <b>Apellidos:</b>
        <span class="margen"
          >{{ denunciation.topicStudent.student.secondName }} 
        </span>
        <span class="margen">{{
          denunciation.topicStudent.student.secondLastname
        }}</span>
      </p>

      <p class="container__data">
        <b>Nombres: </b>
        <span class="margen"
          >{{ denunciation.topicStudent.student.firstName }}
        </span>
        <span class="margen">{{
          denunciation.topicStudent.student.lastName
        }}</span>
      </p>

      <p class="container__data">
        <b>Cédula de Identidad: </b>
        <span class="margen">{{ denunciation.topicStudent.student.ci }} </span>
      </p>

      <p class="container__data">
        <b>Carrera: </b>
        <span class="margen"
          >{{ denunciation.topicStudent.student.career.name }}
        </span>
      </p>

      <p class="container__data">
        <b>Semestre: </b>
        <span class="margen">{{ denunciation.semesterLevel }} </span>
      </p>

      <div class="container__data">
        <b>Director (a) de carrera: </b>
        <input
          class="inputs"
          type="text"
          placeholder="Director(a) de carrera"
          required
        />
      </div>
      <p class="container__data">
        <b>Ciudad/Fecha: </b>

        <input class="inputs" type="text" placeholder="Ciudad" required />
        <span>{{ today | date: "dd-MM-yyyy" }}</span>
      </p>
    </div>
    <p>De mis consideraciones.</p>
    <p>
      Solicito la evaluación de la propuesta del Trabajo de Titulación o Trabajo
      de Integración Curricular para obtener el título de
      <span>
        <b>{{ denunciation.topicStudent.student.career.degree }}</b>
      </span>
    </p>
    <p>Los datos de la propuesta se especifican a continuación:</p>
    <div class="form__topic">
      <h4>Tema:</h4>
      <br />
      <p>{{ denunciation.topicStudent.topic.name }}</p>
      <h4>Línea de investigación:</h4>
      <input class="topic__texts" type="text" name="" id="investagation" />
      <h4>
        Título del proyecto de la universidad con el cual se articula el tema
        propuesto:
      </h4>
      <input class="topic__texts" type="text" name="" id="" />
    </div>
    <div class="form__selector">
      <h4>Tipo de proyecto:</h4>
      <mat-form-field>
        <mat-label>Seleccionar</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let proyecto of proyectos"
            [value]="proyecto.value"
          >
            {{ proyecto.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Modalidad de investigación:</h4>
      <mat-form-field>
        <mat-label>Seleccionar</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let investigacion of investigaciones"
            [value]="investigacion.value"
          >
            {{ investigacion.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h3 class="firma">Solicitado por:</h3>
    <div class="buttons">
      <a><button class="primary" mat-raised-button>Enviar</button></a>
      <a download=""
        ><button class="second" mat-raised-button>Imprimir</button></a
      >
    </div>
  </mat-card>
</div>
