.container {
  padding: 1rem;
}
.container__form {
  width: 70%;
  border: 2px solid #e1e3e8;
  border-radius: 0.6rem;
  margin: 3rem auto;
  padding: 2rem 1.5rem;
}
.unibe__img {
  text-align: center;
  padding: 1.5rem;
}
.unibe__img img {
  width: 80%;
}

.form__title {
  text-align: center;
  font-weight: bold;
}

.form__data {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.form__data h4:first-child {
  font-weight: bold;
}
.form__data h4:nth-child(2) {
  border: 1px solid #000;
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.container__global {
  display: flex;
  padding: 1rem 0;
}

.form__info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 30%;
  font-weight: bold;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}
input {
  width: 80%;
  border: 1px solid #767676;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
}

.form__date__city {
  display: flex;
  gap: 1rem;
  width: 80%;
}

span {
  display: block;
  padding: 0.8rem 0;
}
span input {
  width: 100%;
  margin: 0.5rem 0;
}

h4 {
  margin: 0;
}
.form__topic h4 {
  font-weight: bold;
}
.topic__texts {
  width: 100%;
  margin: 1rem 0;
}

.form__selector h4 {
  font-weight: bold;
}

.firma {
  border-bottom: 1px solid #000;
  width: 30%;
  padding: 2rem 0 5rem 0;
  font-weight: bold;
}
.buttons {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}
button {
  padding: 0 3rem;
}
.primary {
  background: #002858;
  color: #fff;
}
.second {
  background: #d7dfe1;
  color: #000;
}

@media screen and (max-width: 960px) {
  .container__form {
    width: 100%;
  }
  .unibe__img {
    display: flex;
    justify-content: center;
  }
  .unibe__img img {
    width: 80%;
  }
  .firma {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .unibe__img {
    display: flex;
    justify-content: center;
  }
  .unibe__img img {
    width: 400px;
  }
  .form__title h2 {
    font-size: 1rem;
  }
  .form__info {
    width: 100%;
  }
  input {
    width: 100%;
  }
  .form__date__city {
    flex-direction: column;
    width: 100%;
  }
  .firma {
    width: 70%;
  }
}
