.container__nav {
  width: 100%;
  background: #002858;
}
.nav {
  height: 55px;
  display: flex;
  align-items: center;
  width: 95%;
  margin-inline: auto;
}

.nav__ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.title__nav {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.btn__bar {
  display: none;
}
.mat-menu {
  text-decoration: none;
}
.title__nav:hover {
  color: #92b0f7;
}

@media screen and (max-width: 1280px) {
  .nav {
    height: 50px;
    justify-content: flex-start;
    margin-inline: auto;
  }
  .nav__ul {
    display: none;
  }
  .btn__bar {
    display: flex;
    cursor: pointer;
    justify-content: center;
  }
}

