<div class="container__nav">
  <nav class="nav">
    <ul class="nav__ul">
      <button mat-button>
        <a class="title__nav" [routerLink]="['/']"
          >Banco de temas</a
        >
      </button>
      <button mat-button>
        <a class="title__nav" [routerLink]="['/topic-approval']"
          >Notificaciones de aprobación de tema</a
        >
      </button>

      <li>
        <a class="title__nav" [matMenuTriggerFor]="menu"
          ><mat-icon class="account">account_circle</mat-icon></a>
        <mat-menu #menu="matMenu">
          <a class="mat-menu" [routerLink]="['/profile', user.id]"
            ><button mat-menu-item>Perfil de usuario</button></a
          >
          <a class="mat-menu" href="#"
            ><button mat-menu-item>Cerrar Sesión</button></a
          >
        </mat-menu>
      </li>
    </ul>
    <mat-icon
      class="btn__bar"
      [matMenuTriggerFor]="bar__responsive"
      src="../../assets/menu.png"
      alt="menu"
    >
      menu</mat-icon
    >
    <mat-menu #bar__responsive="matMenu">
      <a class="mat-menu" [routerLink]="['/']"
        ><button mat-menu-item>Banco de temas</button></a
      >
      <a class="mat-menu" [routerLink]="['/topic-approval']"
        ><button mat-menu-item>Notificación de aprobación de tema</button></a
      >
      <a class="mat-menu" [routerLink]="['/profile', user.id]"
        ><button mat-menu-item>Perfil de usuario</button></a
      >
      <a class="mat-menu" href="#"
        ><button mat-menu-item>Cerrar Sesión</button></a
      >
    </mat-menu>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
