<div class="conainer__logo">
  <div class="color__logo__Brown">
    <h2>Universidad Iberoamericana del Ecuador</h2>
  </div>
  <a class="img__logo" [routerLink]="['/banco-de-temas']"
    ><img src="../../assets/logo.png" alt="UNIBE"
  /></a>
  <div class="color__logo__white"></div>
</div>
<div class="container__nav">
  <nav class="nav">
    <ul class="nav__ul">
      <li>
        <a class="title__nav" [routerLink]="['/banco-de-temas']"
          >Banco de temas</a
        >
      </li>
      <li>
        <a
          class="title__nav"
          [routerLink]="['/notificación-de-aprobación-de-tema']"
          >Notificaciones de aprobación de tema</a
        >
      </li>
      <li>
        <a class="title__nav" [matMenuTriggerFor]="menu"
          ><img src="../../assets/user.png" alt="UserModel"
        /></a>
        <mat-menu #menu="matMenu">
          <a class="mat-menu" [routerLink]="['/perfil']"
            ><button mat-menu-item>Perfil</button></a
          >
          <a class="mat-menu" href="#"
            ><button mat-menu-item>Cerrar Sesión</button></a
          >
        </mat-menu>
      </li>
    </ul>
    <img
      class="btn__bar"
      [matMenuTriggerFor]="bar__responsive"
      src="../../assets/menu.png"
      alt="menu"
    />
    <mat-menu #bar__responsive="matMenu">
      <a class="mat-menu" [routerLink]="['/banco-de-temas']"
        ><button mat-menu-item>Banco de temas</button></a
      >
      <a class="mat-menu" [routerLink]="['/notificación-de-aprobación-de-tema']"
        ><button mat-menu-item>Notificación de aprobación de tema</button></a
      >
      <a class="mat-menu" [routerLink]="['/perfil']"
        ><button mat-menu-item>Perfil</button></a
      >
      <a class="mat-menu" href="#"
        ><button mat-menu-item>Cerrar Sesión</button></a
      >
    </mat-menu>
  </nav>
</div>
