.container__nav {
  width: 100%;
  background: var(--primary-color);
  margin-bottom: 20px;
}
.nav {
  height: 55px;
  display: flex;
  align-items: center;
  width: 95%;
  margin-inline: auto;
}

.nav__ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.title__nav {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.btn__bar {
  display: none;
}
.mat-menu {
  text-decoration: none;
}
.title__nav:hover {
  color: #92b0f7;
}


@media screen and (max-width: 1280px) {
  .nav {
    height: 50px;
    justify-content: flex-start;
    margin-inline: auto;
  }
  .nav__ul {
    display: none;
  }
  .btn__bar {
    display: flex;
    cursor: pointer;
    justify-content: center;
  }
}
@media screen and (max-width: 858px) {
  .img__logo {
    position: absolute;
    top: 0.3rem;
    left: 0.5rem;
  }
  .img__logo img {
    height: 90px;
  }
  .color__logo__Brown h2 {
    font-size: 1.2rem;
    margin-left: 7rem;
  }
}

