<mat-stepper linear #stepper fxLayout="column" fxLayoutAlign="center center">
  <mat-step [stepControl]="evaluationForm">
    <ng-template matStepLabel>Evaluación</ng-template>
    <form fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field class="form-evaluation" appearance="fill">
        <mat-label>Identificación del estudiante</mat-label>
        <input matInput text="text" [formControl]="ciStudentControl" required
          placeholder="Ingrese el número de identificación" />
        <mat-error *ngIf="ciStudentControl.hasError('required')">Campo <strong>obligatorio</strong>
        </mat-error>
        <button class="button-icon" *ngIf="ciStudentControl" matSuffix mat-icon-button (click)="onFindByStudent()">
          <mat-icon>search</mat-icon>
        </button>
        <button class="button-icon" *ngIf="ciStudentControl" matSuffix mat-icon-button (click)="onReset()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <div *ngIf="topicStudent?.student?.ci" fxLayout="column" fxLayoutAlign="center center">
      <div class="find-student" fxLayout="column" fxLayoutAlign="start start">
        <p><strong>Estudiante:</strong> {{topicStudent?.student?.firstName}} {{topicStudent?.student?.secondName}}
          {{topicStudent?.student?.lastName}} {{topicStudent?.student?.secondLastname}}</p>
        <p><strong>Carrera:</strong> {{topicStudent?.topic?.career?.name}}</p>
        <p><strong>Tema:</strong> {{topicStudent?.topic?.name}}</p>
      </div>
      <form [formGroup]="evaluationForm" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field class="form-evaluation" appearance="legacy">
          <mat-label>Evaluación de la Propuesta de Tema</mat-label>
          <mat-select required formControlName="topicEvaluation">
            <mat-option *ngFor="let evaluation of evaluations | keyvalue" [value]="evaluation.key">
              {{evaluation.key}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="evaluationForm.get('topicEvaluation')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button class="primary" mat-raised-button (click)="onEvaluationProposal(stepper)">Siguiente</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Notificación</ng-template>
    <mat-card class="container__form" ngClass.lt-sm="mat-card-lt-sm" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../assets/unibe_form.png" alt="UNIBE" />
      <form [formGroup]="notificationForm">
        <div fxLayout="column" fxLayoutAlign="center end">
          <p>
            <strong>OFICIO N° </strong>
            <mat-form-field appearance="fill">
              <input matInput formControlName="documentNumber" type="text" required />
              <mat-error *ngIf="notificationForm.get('documentNumber')?.hasError('required')">Campo
                <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>Quito, D.M. {{day}} de {{month}} del {{year}}</p>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Trato/título</mat-label>
          <input matInput type="text" formControlName="trato" placeholder="Ej: Señor" required />
          <mat-error *ngIf="notificationForm.get('trato')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
        <div>
          <p><b>{{ topicStudent?.student?.firstName }} {{ topicStudent?.student?.secondName }} {{
              topicStudent?.student?.lastName }} {{ topicStudent?.student?.secondLastname }}</b></p>
          <p class="spacing">Presente.</p>
          <p>De nuestras consideraciones:</p>
          <p>Por medio de la presente el Comité de Grado de la Carrera de
            <b>{{ topicStudent?.student?.career?.degree }}</b>
            de la Universidad Iberoamericana del Ecuador (UNIB.E), en reunión
            ordinaria No.
            <mat-form-field appearance="fill">
              <input matInput formControlName="meetingNumber" type="text" required />
              <mat-error *ngIf="notificationForm.get('meetingNumber')?.hasError('required')">Campo
                <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            fecha
            <mat-form-field appearance="fill">
              <input matInput formControlName="meetingDate" type="date" required />
              <mat-error *ngIf="notificationForm.get('meetingDate')?.hasError('required')">Campo
                <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            , le informa que su propuesta de investigación titulada:
            <b> {{ topicStudent?.topic?.name }}</b> ha sido:
          </p>
        </div>
        <div class="observations">
          <p *ngIf="evaluationForm.get('topicEvaluation')?.value === 'Aprobado'"><b>APROBADO</b></p>
          <p *ngIf="evaluationForm.get('topicEvaluation')?.value === 'Aprobado con observaciones'">Aprobado con las
            siguientes observaciones:</p>
          <p *ngIf="evaluationForm.get('topicEvaluation')?.value === 'Reprobado'">No ha sido aprobado por los siguientes
            motivos:
          </p>

          <div>
            <textarea class="textarea" matInput [formControl]="observations" cols="5" rows="10" type="text"
              *ngIf="evaluationForm.get('topicEvaluation')?.value !== 'Aprobado'"></textarea>
            <small *ngIf="observations?.invalid && (observations?.dirty || observations?.touched)">Campo
              <strong>obligatorio</strong>
            </small>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center start" fxLayout.lt-sm="column"
          fxLayoutAlign.lt-sm="center center">
          <div fxFlex="100/3" class="firma" fxLayout="column" fxLayoutAlign="center center" fxFlex.sm="100%">
            <h4>Elaborado por:</h4>
            <p>Traer datos de director de carrera</p>
          </div>
          <div fxFlex="100/3" class="firma" fxLayout="column" fxLayoutAlign="center center" fxFlex.sm="100%">
            <h4>Recibido por:</h4>
            <p>{{ topicStudent?.student?.firstName }} {{topicStudent?.student?.lastName }}</p>
          </div>
          <div fxFlex="100/3" class="firma" fxLayout="column" fxLayoutAlign="center center" fxFlex.sm="100%">
            <h4>Entregar a:</h4>
            <p>Secretaría de Administración y Registro</p>
          </div>
        </div>

        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button (click)="onCancel(stepper)">Cancelar</button>
          <button type="submit" class="primary" mat-raised-button (click)="onCreateNotification()">
            Enviar
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-step>
</mat-stepper>
