.form-evaluation {
  width: 305px;
}

.find-student {
  width: 305px;
  text-align: justify;
}

.container__form p {
  font-family: Arial;
  line-height: 30px;
  text-align: justify;
  margin: 0;
  margin-bottom: .5rem;
}

.container__form
  ::ng-deep
  .mat-form-field-appearance-fill
  .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em;
}

.firma {
  margin: 10px;
}

.secondary {
  background-color: var(--secondary-color);
}

.conatiner__card {
  margin-inline: auto;
}

.textarea {
  background-color: rgba(0,0,0,.04);
  border-radius: 4px 4px 0 0;
}

button {
  margin: 0.7rem;
}

.button-icon {
  margin: 0;
}

mat-card {
  padding: 1cm 3cm 1cm 3cm;
  width: 800px;
}

.mat-card-lt-sm {
  padding: 1rem;
  width: 100vw;
}

.container__form img {
  width: 100%;
  margin: 0 0 1cm 0;
}

.container__form mat-form-field {
  width: 135px;
}

.observations mat-form-field {
  width: 100%;
}

small {
  color: #f44336;
  font-size: 75%;
}

.firma p {
  text-align: center;
}

.primary {
  background-color: var(--primary-color);
  color: #fff;
}

@media print {
  .no-print {
    display: none !important;
  }
}

@media screen and (max-width: 960px) {
  .container__form {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  mat-card {
    padding: 0;
    width: 100%;
  }

  :host ::ng-deep .mat-horizontal-content-container {
    width: 100%;
  }
}
