<div class="container">
  <mat-card class="container__form">
    <figure class="unibe__form">
      <img src="../../../assets/unibe_form.png" alt="UNIBE" />
    </figure>
    <div class="form__inicio">
      <div>
        <span class="form__oficio">OFICIO N°</span>
        <input type="number" required />
      </div>
      <div>
        <span>Quito, DM. {{ today | date: "dd-MM-yyyy" }}</span>
      </div>
    </div>
    <div class="form__texts" *ngFor="let item of approvals">
      <h3>Señor</h3>
      <b
        ><span>{{ item.topicStudent.student.firstName }} </span>
        <span>{{ item.topicStudent.student.lastName }} </span>
        <span>{{ item.topicStudent.student.secondName }} </span>
        <span>{{ item.topicStudent.student.secondLastname }}</span></b
      >

      <h3 class="spacing">Presente.</h3>
      <h3>De nuestras consideraciones:</h3>
      <span>Por medio de la presente el Comité de Grado de la Carrera de </span>
      <b
        ><span>{{ item.topicStudent.student.career.degree }} </span></b
      >
      <span
        >de la Universidad Iberoamericana del Ecuador (UNIB.E), en reunión
        ordinaria No.</span
      >
      <input type="number" placeholder="01-2020" required />
      <span>fecha </span>
      <input class="form__date" type="date" required />
      <span>, le informa que su propuesta de investigación titulada:</span>
      <b
        ><span> {{ item.topicStudent.topic.name }}</span></b
      ><span> ha sido:</span>
      <div class="form__observaciones">
        <h3>Aprobado con las siguientes observaciones:</h3>
        <textarea id="" cols="30" rows="10"></textarea>
        <h3>No ha sido aprobado por los siguientes motivos:</h3>
        <textarea id="" cols="30" rows="10"></textarea>
        <h3 class="firma">Elaborado Por:</h3>
      </div>
      <div class="buttons">
        <a
          ><button type="submit" class="primary" mat-raised-button>
            Enviar
          </button></a
        >
        <a download=""
          ><button class="second" mat-raised-button>Imprimir</button></a
        >
      </div>
    </div>
  </mat-card>
</div>
