.container {
  padding: 1rem;
}
.container__form {
  width: 70%;
  border-radius: 0.6rem;
  margin: 3rem auto;
  padding: 2rem 1.5rem;
}
.unibe__form {
  text-align: center;
  padding: 1.5rem;
}
.unibe__form img {
  width: 85%;
}
.form__inicio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}
.form__oficio {
  font-weight: bold;
}
.form__texts {
  padding: 1.5rem 0;
  line-height: 4rem;
}
h3 {
  margin: 0;
}
input {
  border: 1px solid #767676;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0 0.7rem;
}
.input__name {
  margin: 0;
  width: 50%;
}
.spacing {
  padding: 1rem 0;
}
span {
  font-size: 1rem;
}
.form__carrera {
  width: 35%;
}
.form__date {
  margin: 0;
}
.form__tema {
  width: 60%;
  margin: 0;
}
.form__observaciones {
  padding: 2rem 0;
}
textarea {
  outline: none;
  border-radius: 0.4rem;
  width: 100%;
  resize: none;
  padding: 1rem;
}
.firma {
  border-bottom: 1px solid #000;
  width: 30%;
  padding-bottom: 5rem;
  font-weight: bold;
}
.buttons {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}
button {
  padding: 0 3rem;
}
.primary {
  background: #002858;
  color: #fff;
}
.second {
  background: #d7dfe1;
  color: #000;
}

.example-card {
  max-width: 400px;
  margin-inline: auto;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

@media screen and (max-width: 960px) {
  .container__form {
    width: 100%;
  }
  .unibe__form {
    display: flex;
    justify-content: center;
  }
  .unibe__form img {
    width: 80%;
  }
  .firma {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .unibe__form {
    display: flex;
    justify-content: center;
  }
  .unibe__form img {
    width: 400px;
  }
  .input__name {
    width: 100%;
  }
  .form__carrera {
    width: 70%;
  }
  .form__tema {
    width: 100%;
  }
  .firma {
    width: 70%;
  }
}
