<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutAlign="center center" class="auth-form">

   <table cellspacing="0">
     <tr>
      <td>
        <form [formGroup]="roleForm">
          <mat-form-field appearance="legacy" class="auth-full-width">
            <mat-label>Rol que desempeña</mat-label>
            <mat-select required formControlName="role">
              <mat-option *ngFor="let role of userRoles | keyvalue" [value]="role.value">
                {{role.key}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="roleForm.get('role')?.hasError('required')">Campo <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </form>
       </td>
        <td *ngIf="roleForm.get('role')?.value === 'STUDENT' || roleForm.get('role')?.value === 'CAREER_DIRECTOR' ">
          <form [formGroup]="careerForm">
          <mat-form-field appearance="legacy" class="auth-full-width">
            <mat-label>Carrera</mat-label>
            <mat-select required formControlName="career">
              <mat-option *ngFor="let career of careers" [value]="career">
                {{career.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="careerForm.get('career')?.hasError('required')">Campo <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </form>
        </td>
     </tr>
   </table>

    <div *ngIf="roleForm.get('role')?.value !null" fxLayout="column" fxLayoutAlign="center center">
      <form fxLayout="column" [formGroup]="registerForm">
        <mat-form-field appearance="legacy">
          <mat-label>Identificación</mat-label>
          <input matInput text="text" required formControlName="ci"
            placeholder="Ingrese el número de su identificación">
          <mat-error *ngIf="registerForm.get('ci')?.hasError('required')">Campo <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <table class="auth-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="legacy" class="auth-full-width">
                <mat-label>Primer nombre</mat-label>
                <input matInput text="text" required formControlName="firstName" placeholder="Ingrese su primer nombre">
                <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">Campo
                  <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="legacy" class="auth-full-width">
                <mat-label>Segundo Nombre</mat-label>
                <input matInput text="text" formControlName="secondName" placeholder="Ingrese su segundo nombre">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="auth-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="legacy" class="auth-full-width">
                <mat-label>Primer Apellido</mat-label>
                <input matInput text="text" required formControlName="lastName"
                  placeholder="Ingrese su primer apellido">
                <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">Campo
                  <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="legacy" class="auth-full-width">
                <mat-label>Segundo Apellido</mat-label>
                <input matInput text="text" formControlName="secondLastname" placeholder="Ingrese su segundo apellido">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="auth-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="legacy" class="auth-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput type="email" required formControlName="email"
                  placeholder="Ingrese su correo electrónico institucional">
                <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Campo <strong>obligatorio</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.get('email')?.hasError('pattern')">Email <strong>inválido</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="legacy" class="auth-full-width">
                <mat-label>Contraseña</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" required
                  placeholder="Ingrese una contraseña">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Campo
                  <strong>obligatorio</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">La contraseña debe
                  contener
                  <strong>mínimo 8 caracteres</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>

      <div fxLayout="row" fxFlexAlign="center">
        <button mat-raised-button class="button" type="submit" (click)="onSignUpAdmini()"
          *ngIf="roleForm.get('role')?.value === 'FINANCIAL' || roleForm.get('role')?.value === 'AUTHORITY' "
          [disabled]="registerForm.invalid">Registarse
        </button>

        <button mat-raised-button class="button" type="submit" (click)="onSignUpAcademic()"
          *ngIf="roleForm.get('role')?.value === 'STUDENT' || roleForm.get('role')?.value === 'CAREER_DIRECTOR' "
          [disabled]="registerForm.invalid || careerForm.invalid">Registarse
        </button>
      </div>
    </div>
  </mat-card>
</div>
