.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}
.button {
  background-color: var(--primary-color);
  color: white;
}
.login {
  width: 20rem;
}
.container {
  height: 50vh;
}
.icono {
  color: var(--primary-color);
}
