/* Banco de temas */
.container__topicBanck {
  width: 95%;
  margin-inline: auto;
  padding: 1.5rem 0;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
.container__button {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.button__topicbanck {
  background-color: var(--primary-color);
  color: #fff;
}

a {
  color: black;
}

.button_secondary {
  background-color: var(--secondary-color);
}
button {
  margin: 5px;
}

input {
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 1px solid #c6cdde;
  font-size: 0.9rem;
}
/* Estilo Tablas */
table {
  width: 100%;
  border-radius: 1rem;
}

td {
  text-align: center;
}
td:nth-child(2) {
  text-align: justify;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 1rem;
}
th.mat-header-cell {
  text-align: center;
}

.mat-header-cell {
  font-weight: bold;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 1rem;
}
.dos {
  width: 450px;
}
.Open__Dialog__Topic {
  cursor: pointer;
}
span {
  font-weight: bold;
}

.topic-selected {
  margin: 8vh 15vw 8vh 15vw;
}

.topic-selected-xs {
  margin: 2rem;
}

h2 {
  margin: 16px 0 0 0;
}

@media screen and (max-width: 1211px) {
  .container__button {
    flex-direction: column;
    width: 100%;
  }
  input {
    width: 100%;
    padding: 0.5rem 0;
  }
  .responsive {
    overflow-x: auto;
  }
  .uno {
    min-width: 90px;
  }
  .dos {
    min-width: 410px;
  }
  .tres {
    min-width: 290px;
  }
  .cuatro {
    min-width: 190px;
  }
  .cinco {
    min-width: 180px;
  }
  .seis {
    min-width: 190px;
  }
}
