.container__topicBanck {
  width: 95%;
  margin-inline: auto;
  padding: 1.5rem 0;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.container__button {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.button__topicbanck {
  background: #002858;
  color: #fff;
}
input {
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 1px solid #c6cdde;
  font-size: 0.9rem;
}
/* Estilo Tablas */
table {
  width: 100%;
  border-radius: 1rem;
}

td {
  text-align: center;
}
td:nth-child(5) {
  text-align: justify;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 1rem;
}
th.mat-header-cell {
  text-align: center;
}

.mat-header-cell {
  font-weight: bold;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 1rem;
}

.uno {
  width: 200px;
}
.dos {
  width: 190px;
}
.tres {
  width: 420px;
}
.cuatro {
  width: 290px;
}
.cinco {
  width: 980px;
}
.seis {
  width: 140px;
}
.siete {
  width: 230px;
}
.ocho {
  width: 730px;
}
.nueve {
  width: 330px;
}


@media screen and (max-width: 1211px) {
  .container__button {
    flex-direction: column;
    width: 100%;
  }
  input {
    width: 100%;
    padding: 0.5rem 0;
  }
  .button__topicbanck {
    margin-top: 1rem;
  }
  .responsive {
    overflow-x: auto;
  }
  .uno {
    min-width: 190px;
  }
  .dos {
    min-width: 170px;
  }
  .tres {
    min-width: 180px;
  }
  .cuatro {
    min-width: 190px;
  }
  .cinco {
    min-width: 580px;
  }
  .seis {
    min-width: 140px;
  }
  .siete {
    min-width: 140px;
  }
  .ocho {
    min-width: 600px;
  }
  .nueve {
    min-width: 330px;
  }
}
