<div class="container">
  <div class="container__form">
    <h1 class="title">INFORMACIÓN PERSONAL</h1>
    <div class="container__info">
        <div class="info__data">
            <h4>NOMBRES Y APELLIDOS</h4>
            <h4>IDENTIFICACIÓN DEL SISTEMA </h4>
            <h4>CONTRASEÑA</h4>
            <h4>NÚMERO DE CÉDULA</h4>
            <h4>CORREO ELECTRONICO</h4>
            <h4>TIPO DE USUARIO</h4>
            <h4>CARRERA</h4>
        </div>
        <div class="info__dinamic">
            <h4>NOMBRES Y APELLIDOS</h4>
            <h4>-----------</h4>
            <h4>CONTRASEÑA</h4>
            <h4>NÚMERO DE CÉDULA</h4>
            <h4>CORREO ELECTRONICO</h4>
            <h4>TIPO DE USUARIO</h4>
            <h4>CARRERA</h4>
        </div>
    </div>
    
  </div>
  <div class="buttons">
    <a><button class="primary" mat-raised-button>Editar</button></a>
    <a download=""
      ><button class="second" mat-raised-button>Guardar</button></a
    >
</div>
