<mat-card fxLayout="column" fxLayoutAlign="center center">
  <form >
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Perfil de usuario</mat-card-title>
        <mat-card-subtitle>{{user.role}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Text content
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-raised-button class="button" type="button">
        Iniciar Sesión
      </button>

    </mat-card-actions>
    <mat-card-footer>
        Footer
    </mat-card-footer>
  </form>
</mat-card>
