<div id="proposal" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="container__form" ngClass.lt-sm="mat-card-lt-sm" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/unibe_form.png" alt="UNIBE" />
    <h2 class="form__title">PROPUESTA DE TEMA</h2>
    <form [formGroup]="proposalForm">
      <div fxLayout="column" fxLayoutAlign="center start">
        <h4>Tema de trabajo de titulación:</h4>
        <p>

        </p>

        <h4>Descripción breve del tema:</h4>
        <mat-form-field appearance="fill">

          <textarea matInput formControlName="topicDescription" id="topicDescription" type="text" required></textarea>
          <mat-error *ngIf="proposalForm.get('topicDescription')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
          <mat-hint align="end">{{proposalForm.controls.topicDescription.value.length}} / 500</mat-hint>
        </mat-form-field>

        <input Type="button" value="Contar" (click)="countWords()">

        <h4>Objetivos generales y específicos:</h4>
        <mat-form-field appearance="fill">
          <textarea id="count" matInput formControlName="objectives" id="objectives" type="text" required></textarea>
          <mat-error *ngIf="proposalForm.get('objectives')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <h4>Justificación breve del estudio:</h4>
        <mat-form-field appearance="fill">
          <textarea matInput formControlName="studyJustification" id="studyJustification" type="text"
            required></textarea>
          <mat-error *ngIf="proposalForm.get('studyJustification')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
          <mat-hint align="end">{{proposalForm.controls.studyJustification.value.length}} / 500</mat-hint>
        </mat-form-field>
      </div>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
        <button type="submit" class="primary" mat-raised-button (click)="onCreateProposal()">
          Enviar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
