<div id="proposal" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="container__form" ngClass.lt-sm="mat-card-lt-sm" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/unibe_form.png" alt="UNIBE" />
    <h2 class="form__title">PROPUESTA DE TEMA</h2>
    <form [formGroup]="proposalForm">
      <div fxLayout="column" fxLayoutAlign="center start">
        <h4>Tema de trabajo de titulación:</h4>
        <p>
          {{topicStudent?.topic?.name}}
        </p>

        <h4>Descripción breve del tema:</h4>
        <mat-form-field appearance="fill">
          <textarea matInput formControlName="topicDescription" id="topicDescription" type="text" cols="100" wrap="hard"
            autocapitalize="sentences" required></textarea>
          <mat-error *ngIf="proposalForm.get('topicDescription')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
          <mat-hint align="end">{{proposalForm.controls.topicDescription.value.length}} / 500</mat-hint>
        </mat-form-field>

        <h4>Objetivo general:</h4>
        <mat-form-field appearance="fill">
          <textarea matInput formControlName="objectiveGeneral" id="objectiveGeneral" type="text" cols="100" wrap="hard"
            autocapitalize="sentences" required>
          </textarea>
          <mat-error *ngIf="proposalForm.get('objectiveGeneral')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <h4>Objetivos específicos:</h4>
        <mat-form-field appearance="fill">
          <textarea matInput formControlName="objectivesSpecific" type="text" cols="100"
            wrap="hard" autocapitalize="sentences" required>
                </textarea>
          <mat-error *ngIf="proposalForm.get('objectivesSpecific')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <h4>Justificación breve del estudio:</h4>
        <mat-form-field appearance="fill">
          <textarea matInput formControlName="studyJustification" id="studyJustification" cols="100" wrap="hard"
            autocapitalize="sentences" type="text" required></textarea>
          <mat-error *ngIf="proposalForm.get('studyJustification')?.hasError('required')">Campo
            <strong>obligatorio</strong>
          </mat-error>
          <mat-hint align="end">{{proposalForm.controls.studyJustification.value.length}} / 500</mat-hint>
        </mat-form-field>
      </div>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
        <button type="submit" class="primary" mat-raised-button (click)="onCreateProposal()">
          Enviar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
