<div class="container">
  <div class="container__form">
    <figure class="unibe__form">
      <img src="../../../assets/unibe_form.png" alt="UNIBE" />
    </figure>
    <div>
        <h2 class="form__title">PROPUESTA DE TEMA</h2>
        <div class="form__texts">
            <h4>Tema de trabajo de titulación:</h4>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <h4>Descripción breve del tema:</h4>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <h4>Objetivos generales y específicos:</h4>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <h4>Justificación breve del estudio:</h4>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

    </div>

    <h3 class="firma">Elaborado Por:</h3>
      <div class="buttons">
        <a><button class="primary" mat-raised-button>Enviar</button></a>
        <a download=""
          ><button class="second" mat-raised-button>Imprimir</button></a
        >
      </div>
  </div>
</div>
