<div class="container__info">
  <span>Nombres del estudiante: </span>
  <label>{{ topicStudent?.student?.firstName }} </label>
  <label> {{ topicStudent?.student?.secondName }} </label>
  <label> {{ topicStudent?.student?.lastName }} </label>
  <label> {{ topicStudent?.student?.secondLastname }} </label>
  <span class="skip"></span>
  <span>Cédula: </span>
  <label>{{ topicStudent?.student?.ci }}</label>
</div>

<div class="container__info">
  <div>
    <p>
      <b>Nombres del estudiante:</b> {{ topicStudent?.student?.firstName }}
      {{ topicStudent?.student?.secondName }}
      {{ topicStudent?.student?.lastName }}
      {{ topicStudent?.student?.secondLastname }}
    </p>
  </div>
  <span class="skip"></span>
  <div>
    <p><b>Cédula:</b> {{ topicStudent?.student?.ci }}</p>
  </div>
</div>

<div class="container__info">
  <p><b>Tema:</b> {{ topicStudent?.topic?.name }}</p>
</div>

<div class="container__info">
  <p><b>Carrera</b> {{ topicStudent?.topic?.career?.name }}</p>
  <span class="skip"></span>
  <p><b>Evaluación:</b> {{ topicStudent?.topicEvaluation }}</p>
  <span class="skip"></span>
  <p><b>Articulación:</b> {{ topicStudent?.topic?.articulation }}</p>
</div>

<div class="container__info">
  <p><b>Estado de tema:</b> {{ topicStudent?.topic?.topicStatus }}</p>
  <span class="skip"></span>
  <p><b>Pago:</b> {{ topicStudent?.paymentDenunciation }}</p>
  <span class="skip"></span>
  <p><b>Fecha:</b> {{ topicStudent?.assignedDate }}</p>
</div>

<div class="container__info">
  <p><b>Descripción del tema:</b> {{ topicStudent?.topic?.description }}</p>
</div>

